/* Estilos gerais mantidos */
.audio-container {
  display: flex;
  align-items: center;
}

.audio-container button {
  margin-right: 10px;
}

.waveform-container {
  flex: 1;
}

.mat-card-actions {
  display: flex;
  justify-content: center; // Centraliza os botões horizontalmente
  align-items: center; // Centraliza os botões verticalmente
  width: 100%; // Ocupa toda a largura do contêiner pai
  // Remova qualquer outra propriedade que possa estar afetando o posicionamento
}

// Se .flex é o contêiner direto dos botões, remova estilos que possam afetar o alinhamento
.flex {
  display: flex;
  justify-content: center; // Isso deve centralizar os botões horizontalmente dentro de .flex
  align-items: center; // E verticalmente
  width: 100%; // Garante que .flex ocupa toda a largura disponível
  // Remova propriedades como margin ou padding que possam estar empurrando para o lado
}

.flashcard-container {
  display: flex;
  align-items: center;
  height: 100vh; // Ajuste conforme necessário para o tamanho desejado
}

.flashcard {
  background-color: #fff;
  border: 1px solid #0c0c0c;
  border-radius: 0px;
  padding: 20px;
  text-align: center; // Centraliza o texto horizontalmente
  margin-left: 20px; // Espaçamento à esquerda para separar a imagem do flashcard
}

.word {
  font-size: 3em; // Tamanho das letras aumentado para 2 vezes o tamanho padrão
}
