<mat-dialog-content>
  <div class="container p-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
    <div class="loading-indicator" *ngIf="isLoading">
      <mat-progress-spinner mode="indeterminate" color="warn"></mat-progress-spinner>
      <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
      <mat-progress-bar mode="buffer" color="warn"></mat-progress-bar>
      <mat-progress-bar mode="query" color="warn"></mat-progress-bar>
    </div>
    <div class="error-message" *ngIf="errorText">
      <p>{{ errorText }}</p>
    </div>
  </div>

  <mat-card>
    <mat-card-header>
      <img mat-card-xl-image alt="3" src="assets/img/logo/priming.png">
    </mat-card-header>
  </mat-card>
</mat-dialog-content>

<mat-card-actions>
  <div class="flex">
    <button class="meu-botao" matTooltip="Done1" color="primary" mat-fab type="button">
      <i class="fa fa-check" style="font-size: 30px;"></i>
    </button>
    <button class="meu-botao" matTooltip="Done2" color="warn" mat-fab type="button">
      <i class="fa fa-skull-crossbones" style="font-size: 30px;"></i>
    </button>
  </div>
</mat-card-actions>

<!-- waveform-viewer.component.html -->
<div class="audio-container">
  <button matTooltip="Play" mat-fab color="primary" (click)="togglePlayback()">
    <!-- Ícone de Play -->
    <mat-icon *ngIf="!isPlaying" mat-icon-button matTooltip="Play" svgIcon="mat:play_arrow">play_arrow</mat-icon>
    <!-- Ícone de Pause -->
    <mat-icon *ngIf="isPlaying" mat-icon-button matTooltip="Pause" svgIcon="mat:pause">pause</mat-icon>
  </button>

  <div #waveformContainer class="waveform-container"></div>
</div>
